<!DOCTYPE html>
<html lang="en" xmlns:th:="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo app: projects</title>
    <link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.css">

</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message!=null}" th:text="${message}"> </h1>
    <!--/*@thymesVar id="projects" type="java.util.List<io.github.hubi0295.model.Project>"*/-->
    <dl th:each="project : ${projects}">
        <dt th:text="${project.description}">...</dt>
        <dd><ul>
            <li th:each="step : ${project.steps}" th:text="|${step.description}(${step.daysToDeadline} dni)|"></li>
        </ul></dd>
    </dl>
    <!--/*@thymesVar id="project" type="io.github.hubi0295.model.projection.ProjectWriteModel"*/-->
    <form action="#" method="post" th:action="@{/projects}" th::object="${project}">
    <fieldset>
            <legend>Nowy projekt</legend>
            <label>
                Opis<input type="text" th:field="${project.description}"/>
            </label>
            <fieldset th:each="step,stepStat: ${project.getSteps()}">
                <legend th:text="'Krok'+${stepStat.index +1}"></legend>
                <label>Opis<br>
                    <input type="text" th:field="${project.steps[__${stepStat.index}__].description}"/>
                </label><br>
                <label>Dni do końca projektu<br>
                    <input type="number" th:field="${project.steps[__${stepStat.index}__].daysToDeadline}"/>
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addStep">+</button>
            </div>
    </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Czyść</button>
        </p>

    </form>
</main>
</body>
</html>